.grapher-toolbar {
  flex-direction: row;

  h1 {
    margin-left: 8px;
  }

  .grapher-flex-shrink-1 {
    flex-shrink: 1;
  }

  .grapher-flex-shrink-5 {
    flex-shrink: 5;
  }

  .mat-toolbar-row .mat-form-field {
    width: 100%;
    margin: 5px;
  }

}
